.collapsed-layout {
  margin-left: 80px;
  transition: margin-left 0.2s;
}

.expanded-layout {
  margin-left: 200px;
  transition: margin-left 0.2s;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 123px;
  padding: 10px;
  margin-bottom: 18px;
}
